* {
    font-family: 'Open Sans', sans-serif;
}

body {
    width: 95%;
    margin: 0 auto;
    background-color: #f9fafc;
}

header {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}

.logo {
    font-size: 20px;
    font-weight: 400;
}

nav {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    margin-bottom: 20px;
    color: #000;
}

a:hover {
    text-decoration: none;
    margin-bottom: 20px;
    color: #69696a;
}

h1 {
    font-size: 30px;
    font-weight: 400;
}

.bodytext {
    padding-left: 20px;
    border-left: 2px solid #69696a;
    color: #69696a;
}

.text {
    margin-left: 20px;
}

.button-flex {
    display: flex;
    justify-content: center;
}

#scroll {
    width: 100%;
}

.button-style {
    text-align: center;
    padding: 10px;
    background-color: #000;
    color: #FFF;
    border-radius: 30px;
    display: flex;
    justify-content: center;
}

.button-flex {
    padding-left: 20px;
    width: 93%;
}

.button-style:hover {
    text-align: center;
    padding: 10px;
    background-color: #69696a;
    color: #FFF;
    border-radius: 30px;
}


@media only screen and (min-width: 800px) { 

    header, nav {
        flex-direction: row;
    }

    header {
        justify-content: space-between;
    }

    a {
        margin: 20px 15px;
    }

    .link-fix {
        padding-top: 10px;
    }

    .button-style {
        width: 100px;
        padding: 10px;
    }
    
    .text {
        width: 50%;
        min-width: 250px;
        float: left;
    }

    .container {
        margin-top: 50px;
    }

    .image-container {
        margin-right: 30px;
        width: 380px;
        min-width: 380px;
        height: 330px;
        position: relative;
        float: right;
    }

    .circle1, .circle2, .circle3 {
        position: absolute;
    }

    .circle1 {
        height: 300px;
        width: 300px;
        background-color: rgba(247, 136, 167, 0.6);
        border-radius: 300px;
    } 

    .circle2 {
        height: 150px;
        width: 150px;
        background-color: rgba(207, 130, 213, 0.6);
        border-radius: 100px;
        right: 0;
        top: 20px;
    } 

    .circle3 {
        height: 200px;
        width: 200px;
        background-color: rgba(247, 193, 162, 0.7);
        border-radius: 100px;
        right: 0px;
        bottom: 0;
    }

    .clear {
        clear: both;
    }

    .button-flex {
        width: 200px;
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}